<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.lanqiao.pay.mapper.SecretMapper">
	<cache></cache>
	<!-- 修改 -->
	<update id="updateSecret" parameterType="org.lanqiao.pay.base.entity.Secret">
		update secret set
		pay_password=#{payPassword},security_question=#{securityQuestion}
		,classified_answer=#{classifiedAnswer} where id=#{id}
	</update>
	<!-- 查询一个对象 -->
	<select id="getSecret" parameterType="int"
		resultType="org.lanqiao.pay.base.entity.Secret">
		select id, pay_password payPassword,security_question
		security_question,
		classified_answer classifiedAnswer from secret where id = #{id}
	</select>
	<!-- 注册添加密保卡到数据库 -->
	<insert id="addByReq" parameterType="Secret">
	 <selectKey  keyProperty="id" order="AFTER" resultType="int">
    	SELECT LAST_INSERT_ID();
    </selectKey>
		insert into secret(pay_password,security_question,classified_answer)
		values(#{payPassword},#{securityQuestion},#{classifiedAnswer})
	</insert>
	
	<!-- 李明   获取支付密码 -->
	<select id="getSecretZM" parameterType="Integer" resultType="Secret">
	   select * from secret where id=#{id}
	</select>
</mapper>