/* Copyright © 2016 lanqiao.org. All rights reserved. Author:zbq 2016-09-18 */
/* Element Default Style */
/*----------------------- 页面样式重置 -----------------------*/
body,div,p,iframe,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,span,em,a,strong,form,input,button,textarea,table,th,td { margin: 0; padding: 0; }
h1,h2,h3,h4,h5,h6,em,i,strong,em,i { font-size: 100%; font-weight: normal; font-style: normal; }
table { border-collapse: collapse; border-spacing: 0; }
ul,ol { list-style: none; }
fieldset,img { border: 0; }
button,input,select,textarea { vertical-align: middle; outline: none; }
body,button,input,select,textarea { color: #333; font: 12px/1.5 \5FAE\8F6F\96C5\9ED1, "Microsoft Yahei", tahoma,arial,"Hiragino Sans GB", "\5B8B\4F53"; }
body{ }
a { color: #08c; text-decoration: none; }
a:hover { color: #08c; text-decoration: underline; }
/*----------------------- 页面样式重置 -----------------------*/

/*----------------------- 页面通用样式 -----------------------*/
/* 布局样式 */

.layout{ width:1020px; margin: 0 auto; }
.clearfix{ zoom:1; }
.clearfix:after{ content:""; clear: both; display: block; }
.col-l{float: left;}
.col-r{float: right;}

.ellps{ white-space: nowrap; word-break: break-all; overflow: hidden; -ms-text-overflow: ellipsis; text-overflow: ellipsis; }
.overlay{ position: fixed; left: 0; top: 0; width: 100%; height: 100%; background-color: #000; opacity: 0.1; z-index: 999; }
.loading{ display: block; width: 37px; height: 37px; background: url(../images/loading.gif) no-repeat; opacity: 0; }
.tac{ text-align: center; }
.tar{ text-align: right; }
.tal{ text-align: left; }

.trs0-1s{ transition: all .1s; -moz-transition: all .1s; -webkit-transition: all .1s; -o-transition: all .1s; }
.trs0-2s{ transition: all .2s; -moz-transition: all .2s; -webkit-transition: all .2s; -o-transition: all .2s; }
.trs0-3s{ transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -o-transition: all .3s; }

.strong { padding: 0 1px; font-weight: bold; color: #333; }
.em{ font-weight: bold; color: #ff7800; padding: 0 2px; }
.fail{color:#ff3300;}
.ipt, .sel, .ta{ border: 1px solid #ccc; border-radius: 2px; box-shadow: 0 1px 2px #f4f4f4 inset; transition: all .1s; -moz-transition: all .1s; -webkit-transition: all .1s; -o-transition: all .1s; }
/* 排版样式 */
.glb-pat .iconfont{ font-size: 14px; }
.glb-top-top{width: 760px;margin: 26px auto 0;padding: 9px 0 6px;border: 1px solid #e6daa1;background-color: #fffbcc;}
.glb-top-top .iconfont{float: left;margin-left: 12px;font-size: 20px;line-height: 20px;color:#ff9900;}
.glb-top-top .tip-msg{float: left;margin-left: 8px;font-size: 14px;color:#666;line-height: 22px;}

/* 按钮样式 */
.cmn-btn, .glb-btn{ display: block; text-align: center; cursor: pointer; border-radius: 2px; border: none; }
.cmn-btn{ padding: 0 16px; line-height: 34px; font-size: 12px; color:#fff; border:none; background-color: #9a9a9a; transition: all .2s; -moz-transition: all .2s; -webkit-transition: all .2s; -o-transition: all .2s; }
.cmn-btn:hover{ color:#fff; text-decoration: none; opacity: .9; filter: alpha(opacity=90); }
.cmn-btn-blue{ background-color: #0188cc; }
.cmn-btn-red{ background-color: #ff424f; }
.cmn-btn-orange{ background-color: #ff9f2d; }
.cmn-btn-green{ background-color: #7db58c; }
.cmn-btn-disabled{ background-color: #ccc; }
.cmn-btn-disabled:hover{ background-color: #ccc; opacity: 1; cursor: no-drop; cursor: not-allowed; cursor: text\9; }

.glb-btn{ position: relative; height: 36px; overflow: hidden; line-height: 36px; font-size: 14px; color:#fff; background-color: #ee7a26; }
.glb-btn:before{ position: absolute; top: -100%; left: 0; width: 100%; height: 100%; font-size: 24px; line-height: 38px; }
.glb-btn span{ display: inline-block; width: 100%; }
.glb-btn:hover{ text-decoration: none; color: #fff; background-color: #f7812c; }
.glb-btn:hover:before{ top: 0; text-align: center; display: none\9\0; }
.glb-btn:hover span{ display: none\0; -webkit-transform: translateY(300%); -moz-transform: translateY(300%); -ms-transform: translateY(300%); -o-transform: translateY(300%); transform: translateY(300%); }
.glb-btn, .glb-btn:before, .glb-btn span{ transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -o-transition: all .3s; }

.item-btn{ width: 116px; height: 34px; line-height: 34px; }
.item-btn:before{ line-height: 30px; }

/* 银行图标样式 */
.bank-box{display:inline-block;padding:2px 4px;border:1px solid #e6e6e6;background-color: #f9f9f9;border-radius: 2px;}
.bank-ico{ display: block; width: 138px; height: 33px; background: url(../images/bank.png) no-repeat; }
.bank-icbc     { background-position: 0 0; }
.bank-ceb      { background-position: 0 -33px; }
.bank-cmb      { background-position: 0 -66px; }
.bank-cib      { background-position: 0 -99px; }
.bank-unionpay { background-position: 0 -132px; }
.bank-ccb      { background-position: 0 -165px; }
.bank-psbc     { background-position: 0 -198px; }
.bank-ecitic   { background-position: 0 -231px; }
.bank-boc      { background-position: 0 -264px; }
.bank-cmbc     { background-position: 0 -297px; }
.bank-abc      { background-position: 0 -330px; }
.bank-heb      { background-position: 0 -363px; }
.bank-hxb      { background-position: 0 -396px; }
.bank-hrbcb    { background-position: 0 -429px; }
.bank-bob      { background-position: 0 -462px; }
.bank-hkbea    { background-position: 0 -495px; }
.bank-spdb     { background-position: 0 -528px; }
.bank-shanghai { background-position: 0 -561px; }
.bank-pingan   { background-position: 0 -594px; }
.bank-hsb      { background-position: 0 -627px; }
.bank-bcm      { background-position: 0 -660px; }
.bank-gdb      { background-position: 0 -693px; }

.bank-card-x{ height: 33px; padding: 4px 14px 3px 10px; border: 2px solid #ff9900; background-color: #fbfbfb; }
.bank-card-x .bank-ico, .bank-card-x .card-no{ float: left; }
.bank-card-x .bank-ico{ }
.bank-card-x .card-prop{ float: left; font-size: 14px; line-height: 34px; margin-left: 10px; }
.bank-card-x .card-name{ margin-left: 14px; margin-right: 8px; color:#999; }
.bank-card-x .card-no{ font-weight: bold; }

.bank-items{ max-width: 730px; }
.bank-items li{ float: left; padding: 6px 8px; }
.bank-items .bank-card-x{ cursor: pointer; border-color: #dfdfdf; transition: all .2s; -moz-transition: all .2s; -webkit-transition: all .2s; -o-transition: all .2s; }
.bank-items .bank-card-x:hover{ border-color: #d1d1d1; box-shadow: 0 1px 10px rgba(0 ,0 ,0, .3); }
.bank-items .bank-card-selected, .bank-items .bank-card-selected:hover{ border-color: #ff9900; box-shadow:  0 1px 16px rgba(234, 113, 68, .4); }
.bankcard-items{ max-width: 770px; }
.bankcard-items .card-no{color:#787878;font-weight: normal;}

.channel-box{ float: left; padding: 4px 26px; margin-right: 10px; border: 2px solid #ddd; transition: all .2s; -moz-transition: all .2s; -webkit-transition: all .2s; -o-transition: all .2s; }
.channel-box:hover{ border-color: #ccc; box-shadow: inset 0 0 5px #eee; -webkit-box-shadow: inset 0 0 5px #eee; }
.channel-active, .channel-active:hover{ border-color: #ff9900; box-shadow: inset 0 0 5px #f8b959; -webkit-box-shadow: inset 0 0 5px #f8b959; }
.channel-ico{ display: block; width: 108px; height: 38px; background: url(../images/channel.png) no-repeat; }
.channel-cfca{ background-position: 0 -92px; }
.channel-tenpay{ background-position: 0 0; }
.channel-pingan{ background-position: 0 -46px; }
/*----------------------- 页面通用样式 -----------------------*/

/*--------------------- 页面全局布局样式 ---------------------*/
/* 布局框架 */
#top{ height: 30px; line-height: 28px; font-size: 12px; background-color: #1f8bc1;}
#header{ height: 66px; padding-top: 10px;background-color: #fff;}
#page{ padding-top: 40px; margin-top: 4px; background: url(../images/page_bgx.png) #fefefe repeat-x; }
#footer{ }

/* 头部样式 */
#top li,#top li a{ color:#f1f1f1; }
#top li{ float: left; }
#top a:hover{ color:#fff; text-decoration: underline; }
#top .bdl{ border-left: 1px solid #f1f1f1; }
#top .self{ margin-right: 6px; }
#top .logout{ margin-left: 14px; }
#top .username { padding-left: 6px; }
#top .col-l li{ margin-right: 26px; }
#top .col-r{ padding-top: 8px; }
#top .col-r li{ margin-left: 14px; padding: 0 0 2px 14px; line-height: 12px; *padding-bottom: 0; }

/* Logo样式 */
#logo, #logo a{display: block;}
#logo a, #logo img, #logo p{ float: left; }
#logo{ margin-top: 6px;}
#logo img{width: 128px; height: 50px;}
#logo p{padding-left: 12px;margin-left: 18px;margin-top: 16px;height: 21px;line-height: 20px;font-size: 18px;color:#aaa;border-left: 2px solid #ccc;}

/* 导航样式 */
.glb-nav{ position: relative; float: right; height: 42px; margin-top: 16px; margin-right: -4px; }
.glb-nav li { float: left; margin-left:34px; }
.glb-nav a{ display: block; padding:10px 2px; *cursor: pointer; }
.glb-nav a span{ display: block; height: 16px; width: 64px; background: url(../images/sp_global.png) no-repeat; }
.glb-nav a:hover span{ -webkit-animation: navHover .3s forwards; animation: navHover .3s forwards; -moz-animation: navHover .3s forwards; -o-animation: navHover .3s forwards; }
.glb-nav .glb-nav-uc span{ background-position: 0 -20px; }
.glb-nav .glb-nav-setting span{ background-position: 0px 0; }
.glb-nav .glb-nav-trade span{ background-position: 0 -40px; }
.glb-nav-hover{ position: absolute; left:0; bottom:4px; height: 0; border-top: 4px solid #1f8bc1; border-radius: 4px; }

/* 页脚样式 */
#bottom{ text-align: center; padding:44px 0; font-size: 12px; border-top: 2px solid #d0d0d0; background-color: #f6f6f6; }
#bottom ul{ display: inline-block; border-bottom:1px solid #ddd;margin-bottom: 24px; padding-bottom: 14px;*display: inline; }
#bottom li{ float: left; border-right: 1px solid #bbb; line-height: 12px; padding: 0 8px; }
#bottom li.last{ border-right: none; }
#bottom p{ line-height: 28px; }
#bottom, #bottom a { color:#999; }
#bottom a:hover{ text-decoration: underline; }
#bottom .layout{position: relative;}
#bottom .bottom-pos-r{position: absolute;right: 246px; top: 16px;}
#bottom .addr{margin-left: -84px;}
#bottom .beian{margin-left: 6px;}

/*--------------------- 页面全局布局样式 ---------------------*/

/*--------------------- 页面左右结构(左侧菜单)样式 ---------------------*/

/* 左右结构(左侧菜单),主体内容样式 */
.col-menu{ float: left; width:166px; }
.col-main{ float: left; width: 816px; padding:0 0 30px 36px; border-left: 1px solid #dcdde0;}
.main{ padding-bottom:34px; }
.main:after{ content:""; clear: both; display: block; }
.main-hd{ height: 46px; font-size: 18px; line-height: 48px; padding-left: 14px; box-shadow: 0px 3px 5px rgba(0, 0, 0, .1); border-bottom: 2px solid #e6e6e6\9; }
.main-hd h3{ color:#6b5a51; }
.main-hd h3:before{ font-size: 26px; padding-right: 8px; color: #ff8f00; }
.main-bd{ }
.main-top-tip{ padding-top:40px; padding-left: 22px; font-size: 14px; }
.main-top-tip .title{ color:#666; }
.main-top-tip .em{ padding-left: 2px; }

/* 主题内容上下(标题,内容)布局样式 */
.content-hd{ height: 18px; padding: 44px 0 18px 0; }
.content-hd .tips{ padding-left: 11px; font-size: 14px; line-height: 18px; border-left: 6px solid #eee; }
.content-hd .tips a{ margin-left: 30px; }
.content-bd{ }
.content-desc{ padding:20px 18px;line-height: 22px;}
.content-desc img{border:none;margin-bottom: 14px;}

/* 主体内容列表样式 */
.content-items{ margin-top: 8px; border-top: 1px dashed #ddd; }
.content-items .item{ height: 22px; padding: 20px 0; line-height: 22px; border-bottom: 1px dashed #ddd; transition: all .1s; -moz-transition: all .1s; -webkit-transition: all .1s; -o-transition: all .1s; }
.content-items .item-col{ float: left; min-height: 22px; }
.content-items .item-col-r{ float: right; min-height: 22px; margin-right: 16px; }
.content-items .bank-ico{ margin-top: -5px; }
.content-items .df-show{ display: block; }
.content-items .hover-show{ display: none; }
.content-items .item:hover{ background-color: #eff2f5; }
.content-items .item:hover .df-show{ display: none; }
.content-items .item:hover .hover-show{ display: block; }
.content-items .item-uq-any:hover .uq-df-show{ display: block; }
.content-items .item-uq-any:hover .uq-hover-show{ display: none; }


/* 步骤导航 */
.glb-step-top{ width: 736px; margin: 0 auto; padding-top: 50px; padding-bottom: 28px; border-bottom: 2px solid #eeeef0; }
.glb-step-nav{ height: 62px; width: 660px; margin: 0 auto; }
.glb-step-nav li{ float: left; width: 68px; height: 62px; }
.glb-step-nav li.last{ margin-right: 0; }
.glb-step-nav .direct{ position: relative; width: 214px; }
.glb-step-nav .direct p{ position: absolute; left:0; top:18px; width: 100%; height: 0; border-top:4px solid #e9e9e9; }
.glb-step-nav .direct em{ position: absolute; right: -8px; top:14px; width: 0; height: 0; border-style: solid; border-width:6px; border-color: transparent; border-left-color: #e9e9e9; }
.glb-step-nav .ico{ display: block; width: 38px; height: 38px; margin: 0 auto; }
.glb-step-nav .txt{ color:#787878; padding-top: 4px; text-align: center; }

/* 组样式 */
.items-group-box{ //padding-top: 50px; }
.item-group{ margin-bottom: 30px; border: 1px solid #e1e1e1; border-radius: 2px; }
.item-group em{ color:#ff6600; }
.group-hd{ position: relative; padding: 20px 24px; cursor: pointer; background-color: #eeeef0; }
.group-hd .group-hd-txt{ float: left; }
.group-hd h3{ font-size: 16px; padding-bottom: 2px; color:#666; }
.group-hd p{ color:#999; padding-left: 1px; }
.group-hd .iconfont{ float: right; font-size: 32px; margin-right: 8px; line-height: 44px; font-weight: bold; color:#c9c9c9; transition: all .1s; -moz-transition: all .1s; -webkit-transition: all .1s; -o-transition: all .1s; }
.group-hd .iconfont:hover{text-decoration: none;opacity: .6;}
.group-bd{ display: none; }

/* 菜单样式 */
.menu-items{ //background-color: #fff; }
.menu-items li{ font-size: 14px; }
.menu-items li.last{ border-bottom: none; }
.menu-items a, .menu-items a:before{ transition: all .1s; -moz-transition: all .1s; -webkit-transition: all .1s; -o-transition: all .1s; }
.menu-items a{ position: relative; display: block; height: 42px; padding-left: 34px; line-height:42px; color:#333; }
.menu-items a:before{ padding-right: 10px; font-size: 18px; }
.menu-items a:hover { text-decoration: none; color:#ff8f00; }
.menu-items .current a{ background-color: #ff8f00; color:#fff; }

/* 通用成功提示页 */
.glb-alert-wrapper{ padding-bottom: 50px; }
.glb-alert-box{ padding: 80px 0 100px; text-align: center; }
.glb-alert-box .iconfont,.glb-alert-box .glb-alert-msg{display: inline-block;vertical-align: middle;}
.glb-alert-box .iconfont{ font-size: 110px; font-weight: bold; color:#666; }
.glb-alert-box .glb-alert-msg{margin-left: 20px; margin-bottom: 6px;}
.glb-alert-msg{ text-align: left; margin-left: 16px; }
.glb-alert-msg .hd{ margin-bottom: 8px; font-size: 26px; line-height: 38px; color:#666; }
.glb-alert-msg .hd em{ color:#f37800; }
.glb-alert-msg .bd{ color:#999; padding-left: 2px; }
.glb-alert-msg .bd a{ margin: 0 1px; }
.glb-alert-msg .bd .st{ padding: 0 2px; color:#ff6600; font-size: 16px; }
.glb-alert-msg .bd .em{ color:#ff3400; }
.glb-alert-msg .mb{ margin-left: 8px; }
.glb-alert-msg .mt{ margin-top: 4px; }
.glb-alert-succ .iconfont, .glb-alert-succ .hd em{ color:#3ea575; }
.glb-alert-fail .iconfont, .glb-alert-fail .hd em{ color:#ef6166; }
.glb-alert-tips .iconfont, .glb-alert-tips .hd em{ color:#36a1ed; }
.glb-alert-info .iconfont, .glb-alert-info .hd em{ color:#6e86d2; }
.glb-alert-warn .iconfont, .glb-alert-warn .hd em{ color:#f0a901; }
/*--------------------- 页面左右结构(左侧菜单)样式 ---------------------*/


/*--------------------- 页面全局动画样式 ---------------------*/
/* 导航鼠标移入动画 */
@keyframes navHover {
    30%{ transform: translateY(30%) }
    50%{ transform: translateY(280%) }
    71%{ transform: translateY(-100%) }
    91%{ transform: translateY(0%) }
}

@-webkit-keyframes navHover {
    30%{ -webkit-transform: translateY(30%) }
    50%{ -webkit-transform: translateY(280%) }
    71%{ -webkit-transform: translateY(-100%) }
    91%{ -webkit-transform: translateY(0%) }
}

@-moz-keyframes navHover {
    30%{ -moz-transform: translateY(30%) }
    50%{ -moz-transform: translateY(280%) }
    71%{ -moz-transform: translateY(-100%) }
    91%{ -moz-transform: translateY(0%) }
}

@-ms-keyframes navHover {
    30%{ -ms-transform: translateY(30%) }
    50%{ -ms-transform: translateY(280%) }
    71%{ -ms-transform: translateY(-100%) }
    91%{ -ms-transform: translateY(0%) }
}

@-o-keyframes navHover {
    30%{ -o-transform: translateY(30%) }
    50%{ -o-transform: translateY(280%) }
    71%{ -o-transform: translateY(-100%) }
    91%{ -o-transform: translateY(0%) }
}
/*--------------------- 页面全局动画样式 ---------------------*/

/* 全局字体 */
@font-face { font-family: "iconfont"; src: url('font/iconfont.eot'); src: url('font/iconfont.eot?#iefix') format('embedded-opentype'),
  url('font/iconfont.woff') format('woff'),
  url('font/iconfont.ttf') format('truetype'),
  url('font/iconfont.svg#iconfont') format('svg'); }

/*------------------------- 字体样式 -------------------------*/
.iconfont:before, .glb-btn:before { font-family:"iconfont" !important; transition: all .2s; -moz-transition: all .2s; -webkit-transition: all .2s; -o-transition: all .2s; -webkit-font-smoothing: antialiased; -webkit-text-stroke-width: 0.2px; -moz-osx-font-smoothing: grayscale; }
.iconfont:hover, .iconfont:before:hover{ text-decoration: none; }
.icon-glb-home:before { content: "\e600"; }
.icon-glb-mb:before { content: "\e601"; }
.icon-glb-mail:before { content: "\e606"; }
.icon-glb-right:before { content: "\e639"; }
.icon-glb-ing:before { content: "\e634"; }
.icon-glb-error:before { content: "\e638"; }
.icon-glb-succ:before { content: "\e607"; }
.icon-reg-succ:before { content: "\e637"; }
.icon-pay-succ:before { content: "\e63a"; }
.icon-err500:before { content: "\e63b"; }
.icon-err404:before { content: "\e635"; }
.icon-acc-user:before { content: "\e60b"; }
.icon-acc-pwd:before { content: "\e60a"; }
.icon-acc-kaptcha:before { content: "\e633"; }
.icon-idx-lga:before { content: "\e602"; }
.icon-idx-lgb:before { content: "\e604"; }
.icon-idx-lgc:before { content: "\e603"; }
.icon-partner:before { content: "\e62b"; }
.icon-personal:before { content: "\e60b"; }
.icon-company:before { content: "\e60d"; }
.icon-correct:before { content: "\e613"; }
.icon-wrong:before { content: "\e612"; }
.icon-alert:before { content: "\e610"; }
.icon-tip:before { content: "\e611"; }
.icon-msg:before { content: "\e603"; }
.icon-close:before { content: "\e60f"; }
.icon-fold:before { content: "\e617"; }
.icon-unfold:before { content: "\e621"; }
.icon-right-arr:before{ content: "\e614"; }
.icon-arrow-up:before { content: "\e631"; }
.icon-arrow-down:before { content: "\e632"; }
.icon-trade-list:before { content: "\e62f"; }
.icon-bank-card:before { content: "\e623"; }
.icon-menu-um:before { content: "\e61b"; }
.icon-menu-sm:before { content: "\e615"; }
.icon-menu-pm:before { content: "\e616"; }
.icon-menu-bm:before { content: "\e619"; }
.icon-menu-loan:before { content: "\e63e"; }
.icon-menu-cdoc:before { content: "\e63d"; }
.icon-safe-mobile:before { content: "\e61a"; }
.icon-safe-email:before { content: "\e622"; }
.icon-safe-service:before { content: "\e61c"; }
.icon-safe-qa:before { content: "\e61f"; }
.icon-safe-pwd:before { content: "\e620"; }
.icon-pwd-setted:before { content: "\e627"; }
.icon-pwd-unsetted:before { content: "\e61d"; }
.icon-authc-setted:before { content: "\e625"; }
.icon-authc-unsetted:before { content: "\e626"; }
.icon-qa-setted:before { content: "\e630"; }
.icon-qa-unsetted:before { content: "\e628"; }
.icon-mail-setted:before { content: "\e61e"; }
.icon-mail-unsetted:before { content: "\e629"; }
.icon-mobile-setted:before { content: "\e624"; }
.icon-mobile-unsetted:before { content: "\e62a"; }
.icon-btn-deposit:before { content: "\e62c"; }
.icon-btn-withdraw:before { content: "\e62d"; }
.icon-btn-payment:before { content: "\e62e"; }

/* 按钮样式,下载字体后需重新设置(去掉icon-) */
.login-btn:before{ content: "\e605"; }
.submit-btn:before{ content: "\e608"; }
.return-btn:before{ content: "\e609"; }
.done-btn:before{ content: "\e60c"; }
.item-btn:before { content: "\e618"; }
/*------------------------- 字体样式 -------------------------*/
