/* Copyright © 2016 lanqiao.org. All rights reserved. Author:zbq 2016-09-18 */

/*------------------------- 安全中心样式 -------------------------*/
/* 主页样式 */
.security-items{ margin-top: 40px; border: 1px solid #dcdde0; background-color: #fff; }
.security-items li{ float: left; width: 358px; padding:18px 24px; height: 84px; border-right:1px solid #dcdde0;; border-bottom:1px solid #dcdde0; }
.security-items li:hover{ background-color: #f8f8f8; }
.security-items .col-item-main{ position: relative; float: left; width: 260px; margin-left: 26px; }
.security-items .col-item-side{ float: right; width: 54px; margin-top: 2px; }
.security-items .safe-icon{ width: 54px; height: 64px; background: url(../../images/sp_security.png) no-repeat -32px -70px; }
.security-items .safe-text{ text-align: center; color:#999; }
.security-items .safe-protected .safe-icon{ background-position: -32px 0; }
.security-items .safe-protected .safe-text{ color:#888; }
.security-items .item-ico{ position: absolute; left:-26px; top:4px; width: 16px; height: 16px; background: url(../../images/sp_security.png) no-repeat; }
.security-items .item-login-pwd .item-ico{ background-position: 0 -100px; }
.security-items .item-pay-pwd .item-ico{ background-position: 0 -120px; }
.security-items .item-mobile .item-ico{ background-position: 0 -60px; }
.security-items .item-email .item-ico{ background-position: 0 -40px; }
.security-items .item-secur-qa .item-ico{ background-position: 0 -80px; }
.security-items .item-prompt .item-ico{ background-position: 0 -20px; }
.security-items .item-pay-type .item-ico{ background-position: 0 0; }
.security-items .item-name{ font-size: 16px; margin-left: -1px; padding-bottom: 4px; }
.security-items .item-tips{ color:#999; }
.security-items .item-action{ padding-top: 6px; }
.security-items .item-action a{ margin-right: 8px; }
.security-items .item-even{ width: 359px; border-right:none; }
.security-items .item-last{ width: 766px; height: 76px; border:none; }
.security-items .item-last .col-item-main{ width: 646px; }
.security-items .item-last .col-item-side{ margin-top: -4px; }
.security-items .item-last .item-ico{ top:10px; }
.security-items .item-last .item-name{ padding-top: 6px; padding-bottom: 5px;}

/* 选择方式页面样式 */
.type-items{ }
.type-items li{ padding: 20px 22px 18px 28px; border-top: 1px solid #e9e9e9; }
.type-items li.first{ border-top: none; }
.type-items li:hover{ background-color: #ffffe9; }
.type-items .item-ico{ float: left; width: 50px; height: 50px; text-align: center; font-size: 40px; line-height: 42px; color:#f7812c; }
.type-items .item-desc{ float: left; margin-left: 8px; }
.type-items .item-desc h3{ height: 26px; line-height: 26px; font-size: 16px; }
.type-items .item-desc p{ color:#999; }
.type-items .item-action{ float: right; margin-top: 8px; margin-right: 12px; }

/* 重置步骤导航 */
.safe-reset-nav .ico{ background:url(../../images/sp_security.png) no-repeat; }
.safe-reset-nav .step-a .ico{ background-position: -100px -48px; }
.safe-reset-nav .step-b .ico{ background-position: -100px -96px; }
.safe-reset-nav .step-c .ico{ background-position: -100px 0; }
/*------------------------- 安全中心样式 -------------------------*/
/* 会员资料 样式 */
.account-infor{ width: 700px; margin: 50px auto;}
.account-img{ float: left;width: 100px;padding-top: 10px}
.account-img a{ margin-left: 15px; height: 30px;text-align: center;line-height: 30px}
.account-table{ float: left;margin-left: 40px;width: 500px;}
.account-table table{ font-size: 14px}
.account-table table th{ font-weight: lighter;text-align: right;width: 90px;padding-right: 35px}
.account-table table tr{ height: 20px; line-height: 30px}
.account-table table td > span.bind{ color: #aaa}
.account-table table td.merchant span{ padding-left: 5px; margin-right: 15px}
.col{ width: 200px;text-align: right}
.col-main .applyDiv{ margin: auto;width: 200px;padding-left: 25px;display: none}
/* 安全中心 样式 */
.col-main .form-pay{ width: 500px; padding-top: 0px}
.col-main .form-pay-label{ width: 100px}
.col-main .form-action-pay{ margin-left: 150px}
.sel-pay-protect{ width: 234px}
.col-main .security_mobile{ margin-left: 210px}
.mobile_verity{ display: inline-block; height: 36px;line-height: 36px;margin-left: 15px; }

























































